
__pycache__
*.pyc

# swap files
*.swp

# sym links to source/
test/commondriver.py
test/notebookdriver.py
test/questiondriver.py
test/htmldriver.py

# for Python packaging
package/README.md
package/test
package/build/
package/*.egg-info/
# sym links to source
package/litegrade/commondriver.py
package/litegrade/notebookdriver.py
package/litegrade/questiondriver.py
package/litegrade/htmldriver.py

