
__pycache__
*.pyc

# swap files
*.swp

# sym links to src/
test/commondriver.py
test/notebookdriver.py
test/questiondriver.py
test/htmldriver.py

# for Python packaging
pkg/README.md
pkg/test
pkg/build/
pkg/*.egg-info/
pkg/litegrade/commondriver.py
pkg/litegrade/notebookdriver.py
pkg/litegrade/questiondriver.py
pkg/litegrade/htmldriver.py

